<div class="parent">
  <mat-card>
  <mat-toolbar color="primary">
    Login Page
  </mat-toolbar>
  <form [formGroup]="loginForm">
  <mat-card-content>
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="@gmail.com" formControlName="email">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <div class="but">
    <button mat-raised-button color="warn" (click)="login()">Submit</button>
  </div>
</mat-card-content>
</form>
</mat-card>
</div>